# Python & Environment
__pycache__/
*.py[cod]
*$py.class
.env
gdrive_credentials.json
*.json.key
venv/
env/
.pytest_cache/

# Local Database & Storage
db.sqlite3
*.sqlite3
*.db
*.zip
*.pdf
*.jpg
*.jpeg
*.png
storage/events/*
storage/temporary/*
storage/logos/*
!storage/events/.gitkeep
!storage/temporary/.gitkeep
database/*.db
database/*.db-wal
database/*.db-shm

# Logs
logs/*.log

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
