option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: kshan_project.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: kshan_project.settings

container_commands:
  01_migrate:
    command: "python manage.py migrate"
    leader_only: true
  02_create_admin:
    command: "python manage.py create_admin"
    leader_only: true
